<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/auth_styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/blog-create.css') }}"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='/css/single-post.css') }}"
  />
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <div class="body-container">
      {% if user.is_authenticated and request.path == '/' %}
      
      <nav class="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        </div>
      </nav>
      {% else %}
      <div class="alert-container">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert-error" role="alert" id="alert-error">
          {{ message }}
          <button type="button" onclick="closeErrorAlert()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert-success" role="alert" id="alert-success">
          {{ message }}
          <button type="button" onclick="closeSuccessAlert()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        {% endif %} {% endfor %} {% endif %} {% endwith %}
      </div>
      {% endif %}
    </div>

    <div class="container">{% block content %} {% endblock %}</div>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
